<div id="facilities-page" class="section swiper-container">
      <div class="parallax-bg parallax-bg-facilities" data-swiper-parallax="-20%"></div>
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="title" data-swiper-parallax="-100">
                <i class="fa fa-bath" aria-hidden="true"></i>
                Facilities
              </div>
              <div class="text" data-swiper-parallax="-400">
                <ul>
                  <li>
                    <i class="fa fa-users" aria-hidden="true"></i>
                     พนักงานต้อนรับบริการเวลา 07.00 - 23.00 น
                  </li>
                  <li>
                    <i class="fa fa-support" aria-hidden="true"></i>
                    Huge Swimming Pool
                   </li>
                  <li>
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    มีบริการซักรีด
                  </li>
                  <li>
                    <i class="fa fa-tv" aria-hidden="true"></i>
                    ระบบรักษาความปลอดภัย 24 ชั่วโมง - Keycard
                  </li>
                </ul>
              </div>
          </div>
          <div class="swiper-slide show-right">
            <div class="title" data-swiper-parallax="-100">
              <i class="fa fa-bath" aria-hidden="true"></i>
              Facilities
            </div>
              <div class="text" data-swiper-parallax="-400">
                <ul>
                  <li>
                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                     ฟิตเนสวิวสระว่ายน้ำ - Modern Pool View Gym
                  </li>
                  <li>
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    ร้านอาหาร CHANGE Bisto ( Restaurant )
                   </li>
                  <li>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    Convenience Store ( มินิมาร์ท )
                  </li>
                </ul>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="title" data-swiper-parallax="-100">
                <i class="fa fa-bath" aria-hidden="true"></i>
                Facilities
              </div>
              <div class="text" data-swiper-parallax="-400">
                <ul>
                  <li>
                    <i class="fa fa-car" aria-hidden="true"></i>
                     ลาดจอดรถ - Parking Space
                  </li>
                  <li>
                    <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                    ตู้เย็น - เตาอบไมโครเวฟ
                   </li>
                </ul>
              </div>
          </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
</div>
<div class="facilities-container flex-all">
  <div class="facilities-in-item">
    <div class="facilities-header">
      <h1>Our Facilities is ready for you</h1>
      <h3>สิ่งอำนวยความสะดวกที่เราพร้อมให้บริการ</h3>
    </div>
    <div id="reception" class="facilities-slide swiper-container">
      <div class="swiper-wrapper">
        {{#each facilitiesSlide.reception}}
        <div class="swiper-slide" style="background-image:url({{img}})"></div>
        {{/each}}
      </div>
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
  </div>
  <br><br>
  <div class="facilities-in-item">
    <div class="facilities-header">
      <h1>Huge Swimming Pool</h1>
      <h3>สระว่ายน้ำขนาดใหญ่</h3>
    </div>
    <br>
    <div id="huge-swimming-pool" class="facilities-slide-grid swiper-container">
      <div class="swiper-wrapper">
        {{#each facilitiesSlide.swimming}}
        <div class="swiper-slide" style="background-image:url({{img}})"></div>
        {{/each}}
      </div>
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
  </div>
  <div class="facilities-in-item">
    <div class="facilities-header">
      <h1>Fitness</h1>
      <h3>การออกกำลังกาย</h3>
    </div>
    <div id="fitness" class="facilities-slide swiper-container">
      <div class="swiper-wrapper">
        {{#each facilitiesSlide.fitness}}
        <div class="swiper-slide" style="background-image:url({{img}})"></div>
        {{/each}}
      </div>
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
  </div>
  <div class="facilities-in-item">
    <div class="facilities-header">
      <h1>Saunas</h1>
      <h3>ซาวน่า</h3>
    </div>
    <div id="saunas" class="facilities-slide swiper-container">
      <div class="swiper-wrapper">
        {{#each facilitiesSlide.saunas}}
        <div class="swiper-slide" style="background-image:url({{img}})"></div>
        {{/each}}
      </div>
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
  </div>
  <div class="facilities-in-item">
    <div class="facilities-header">
      <h1>CHANGE Bisto Restaurant</h1>
      <h3>ร้านอาหารของ The Change</h3>
    </div>
    <br>
    <div id="restaurant" class="facilities-slide-grid swiper-container">
      <div class="swiper-wrapper">
        {{#each facilitiesSlide.restaurant}}
        <div class="swiper-slide" style="background-image:url({{img}})"></div>
        {{/each}}
      </div>
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
  </div>
  <div class="facilities-in-item">
    <div class="facilities-header">
      <h1>Convenience Store and Parking</h1>
      <h3>มินิมาร์ท ร้านสะดวกซื้อ และ ลานจอดรถ</h3>
    </div>
    <br>
    <div id="convenience-store-and-parking" class="facilities-slide swiper-container">
      <div class="swiper-wrapper">
        {{#each facilitiesSlide.parking}}
        <div class="swiper-slide" style="background-image:url({{img}})"></div>
        {{/each}}
      </div>
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
  </div>
</div>
